<div class="hero-image">
  <div class="hero-text">
    <h1>Planning game nights made easy</h1>
    <p>Share your board game library with your friends</p>
    <%=link_to "Sign up for free", signup_path, class: "btn btn-primary" %>
  </div>
</div>