<li class="list-group-item friend">
  <% if @user.active_friends.include? user %>
    <%= link_to user.name, user_games_url(user.username) %>
  <% else %>
    <%= user.name %> <button>Accept</button>
  <% end %>
</li>