<div class="row profile-header">
  <% if @user.name == "Nope" %>
    <div class="user-avatar">Profile Image</div>
  <% else %>
    <%= image_tag("users/placeholder-avatar.png", :alt => "placeholder profile image", :class => "user-avatar") %>
  <% end %>
  <div id="user-name" class="center"><%= @user.name %></div>
  <!--Button to trigger new game modal-->
  <div class="col">
    <button id="new-game-button" type="button" class="btn btn-primary" data-toggle="modal" data-target="#newgame">
      New Game
    </button>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= @user.games.count %> Games
  </div>
</div>
<% if @user.games.any? %>
  <div id= "games" class="row" >
    <%= render @games %>
  </div>
<% end %>

<!-- New Game Modal -->
<div class="modal fade" id="newgame" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Game</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-container">
          <form>
            <div class="form-row">
              <div class="col">
                <input type="text" class="form-control" placeholder="Search BGG" id="searchTerm">
              </div>
              <div class="col">
                <button type="button" class="btn btn-primary" onclick="getBggData()">Search</button>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="searchBoardGames" checked onclick="updateGames()">
                  <label class="custom-control-label" for="searchBoardGames">Base Games</label>
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="searchExpansions" checked onclick="updateExpansions()">
                  <label class="custom-control-label" for="searchExpansions">Expansions</label>
                </div>
              </div>
            </div>
          </form>
          <div>
            <h5 id="resultsHeader"></h5>
            <table id="searchResults"></table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>