<div class="row" style="padding-top: 2em;">
  <div class="" style="border: 2px solid black; width: 8em; height: 8em; margin-left: 2.5em;">Profile Image</div>
  <div id="user-name"><%= @user.name %></div>
</div>