<div class="row profile-header">
  <% if @user.name == "Nope" %>
    <div class="user-avatar">Profile Image</div>
  <% else %>
    <%= image_tag("users/placeholder-avatar.png", :alt => "placeholder profile image", :class => "user-avatar") %>
  <% end %>
  <div id="user-name" class="center"><%= @user.name %></div>
</div>