// Custom bootstrap variables must be set or imported *before* bootstrap.
@import 'bootstrap';

// General

.container-fluid {
  padding-top: 2em !important;
}

@mixin box_sizing {
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* Game Index */
.game-entry {
  width: 18rem !important;
}

#filter-bar {
  display: flex !important;
  align-items: center !important;
  padding-bottom: 1em !important;
}

/* Modals */
.modal-container {
  padding-left: 10px;
}

/* Friendships */
.friend {
  margin-top: 1em;
}

.friendship-button {
  float: right;
}

/* Friendship Search Form */
#userSearch {
  margin-top: 0.5em;
}

.user-search-result {
  margin-bottom: 0.3em;
}
