// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

// General

.container {
  padding-top: 40px;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* Profile Page Header */

.profile-header {
  height: 8em;
  margin-top: 2em;
}

.user-avatar {
  border: 2px solid black;
  width: 8em;
  height: 100%;
  margin-left: 2.5em;
}

#user-name{
  margin-left: 1em;
  font-size: 2em;
  line-height: 4em;
}

#new-game-button {
  float: right;
}

/* Modals */
.modal-container {
  padding-left: 10px;
}

tr:hover{
  background-color:lightgray;
  cursor:pointer;
}

tr:nth-child(1):hover {
  background-color: white;
}