.game-data-image {
  width: 25%;
  float: left;
  padding-right: 15px;
}

.game-data-list {
  list-style: none;
  padding-inline-start: 0px;
}

.game-data-description {
  padding-top: 0em;
}

#gameDetailsCatMech {
  padding-top: .5em;
}

.game-delete {
  margin-left: 5px;
}