<h1>New friend request</h1>

<p><%= @requester.name %> has added you as a friend. You can login in order to accept their friend request.
Accepting the friend request will allow you to see each other's games, and invite each other to game nights.</p>