<header>
  <nav class="navbar navbar-dark bg-dark navbar-fixed-top navbar-inverse">
    <%= link_to "Game Shelf", root_path, class: "navbar-brand" %>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item"><%= link_to "Login", root_path, class: "nav-link" %></li>
    </ul>
  </nav>
</header>